@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

// Primary
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

// Neutral
$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

@mixin flex($justify, $align, $flex_direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flex_direction;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;

    width: 100%;

    @include flex(center, center, column);

    background-color: $VeryLightGray;
}
header {
    margin: 100px 0 50px 0;
    text-align: center;

    h1 {
        width: 100%;
        max-width: 400px;
        font-weight: normal;
        color: $GrayishBlue;
        margin: 0 auto 20px auto;

        span {
            color: $VeryDarkBlue;
            font-weight: bold;
        }
    }
    p {
        width: 100%;
        max-width: 500px;
        color: $GrayishBlue;
    }
}
main {
    display: grid;
    grid-template-areas:
        "one two three"
        "one two three";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 260px;
    margin: 0 20px 10px 20px;

}
.column-one {
    grid-area: one;
    @include flex(center, flex-start, column);
    margin-right: 20px;

    div {
        @include flex(flex-start, flex-start, column);
        background-color: white;
        width: 100%;
        max-width: 400px;
        padding: 30px;
        border-top: 3px solid $Cyan;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

        h2 {
            color: $VeryDarkBlue;
        }
        p {
            color: $GrayishBlue;
            line-height: 2em;
            margin-bottom: 30px;
        }
        img {
            align-self: flex-end;
        }
    }
}
.column-two {
    @include flex(space-between, center, column);
    grid-area: two;

    .team-builder {
        border-top: 3px solid $Red;
    }
    .karma {
        border-top: 3px solid $Orange;
    }
    div {
        background-color: white;
        width: 100%;
        max-width: 400px;
        padding: 30px;
        @include flex(flex-start, flex-start, column);
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

        h2 {
            color: $VeryDarkBlue;
        }
        p {
            color: $GrayishBlue;
            line-height: 2em;
            margin-bottom: 30px;
        }
        img {
            align-self: flex-end;
        }
    }
}
.column-three {
    grid-area: three;
    @include flex(center, flex-start, column);
    margin-left: 20px;

    div {
        @include flex(flex-start, flex-start, column);
        background-color: white;
        width: 100%;
        max-width: 400px;
        padding: 30px;
        border-top: 3px solid $Blue;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

        h2 {
            color: $VeryDarkBlue;
        }
        p {
            color: $GrayishBlue;
            line-height: 2em;
            margin-bottom: 30px;
        }
        img {
            align-self: flex-end;
        }
    }
}
@media (max-width: 980px) {
    .column-one,
    .column-two,
    .column-three {
        div {
            padding: 20px;
        }
    }
}
@media (max-width: 720px) {
    body{
        display: unset;
    }
    header{
        h1{
            font-size: 1.8em;
        }
        p{
            margin: 0 auto;
        }
    }
    main {
        grid-template-areas:
            "one"
            "two"
            'three';
        grid-template-columns: 1fr;
        grid-template-rows: 200px 500px 230px ;
        
        margin: 0 20px 20px 20px;
    }
    .column-one,
    .column-two,
    .column-three{
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        
        margin: 10px auto;
        div{
            align-self: center;
        }
    }
    .column-two{
        .team-builder{
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 440px){
    header{
        h1{
            font-size: 1.5em;
        }
    }
    main {
        grid-template-rows: 280px 500px 300px ;

    }
}
