@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Text Primary*/
    --titleOpen: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);

    /* Background gradient */
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);

    /* Text Neutral */
    --titleClose: hsl(237, 12%, 33%);
    --paragraph: hsl(240, 6%, 50%);

    /* Dividers */
    --divider: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(to bottom, var(--Softviolet), var(--Softblue)) no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

/* main */
main {
    width: 1000px;
    background-color: white;
    height: 667px;
    display: grid;
    grid-template-areas: 'left right ';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    border-radius: 30px;
    position: relative;
    margin: 0 10px 0 50px;
    
}

/* left side */
#left {
    grid-template-columns: left;
    background: url('../images/bg-pattern-desktop.svg') no-repeat right 110px top -300px;
    overflow: hidden;
    position: relative;
}

.woman {
    position: absolute;
    left: -80px;
    top: 70px;
}

.box {
    position: absolute;
    top: 205px;
    left: -92px;
    z-index: 2;
}

/* right side */
#right {
    grid-template-columns: right;
}

h1 {
    margin: 70px 50px 20px 50px;
    font-size: 2.5em;
    color: var(--titleOpen);
}

p {
    margin-bottom: 20px;
}

h2 {
    margin: 20px 0;
}

details {
    border-bottom: 1px solid var(--divider);
    max-width: 400px;
    margin: 10px 50px;
    border: none;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
summary::-webkit-details-marker{
    display: none;
}

summary:hover h2 {
    color: var(--Softred);
}

summary img {
    width: 12px;
    height: 10px;
}

details {
    border-bottom: 1px solid var(--divider);
    max-width: 400px;
}

details[open]>summary h2 {
    color: var(--titleOpen);
    font-weight: bolder;
}

details {
    transition: 0.3s ease-in-out;
}

details:not([open]) {
    height: 60px;
}

details[open] {
    height: 120px;
}

details h2 {
    font-weight: normal;
    color: var(--titleClose);
}

details p {
    color: var(--paragraph);
}

.arrow-down {
    transition: .3s ease-in;
}

details[open]>summary .arrow-down {
    transform: rotate(180deg);
}

@media (max-width: 935px) {
    
    main {
        max-width: 400px;
        max-height: 80%;
        display: grid;
        grid-template-areas:
            'left'
            'right';
        grid-template-columns: 100%;
        grid-template-rows: 23% 75%;
        margin: 0 0 -100px;
    }

    /* left */
    #left {
        overflow: unset;
        background-position: top -150px center;
        background-size: 300px;
    }

    /* right */
    h1 {
        text-align: center;
        margin: 0px 0;
    }

    h2 {
        font-size: 1.4em;
    }

    details {
        margin: 0 30px;
    }

    .woman {
        width: 300px;
        top: -135px;
        left: 50px;
    }

    .box {
        display: none;
    }
}

@media (max-width: 420px) {
    main {
        max-width: 320px;
        margin: 0 10px -110px;
    }

    #left {
        overflow: unset;
        background-position: top -140px center;
        background-size: 250px;

    }
    h1{
        margin: 30px;
    }

    .woman {
        width: 250px;
        top: -115px;
        left: 30px;
    }

    h2 {
        font-size: 1em;
        margin: 10px 0;
    }
    details:not([open]) {
        height: 40px;
    }
    details[open] {
        height: 100px;
    }

}