@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// Primary
$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);

// Neutral
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    background-color: $LightGray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
main {
    display: grid;
    grid-template-areas:
        "top top"
        "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 1.2fr;
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.219);
    margin: 10px 20px;
    
}

.top {
    grid-area: top;
    background-color: white;
    

    div{
        padding: 40px;
    }
    h1 {
        color: $Cyan;
        margin-bottom: 20px;
       
    }
    h2 {
        color: $BrightYellow;
        font-size: 1.2em;
        margin-bottom: 15px;
        width: 100%;
        max-width: 400px;
    }
    p {
        color: $GrayishBlue;
        max-width: 550px;
        line-height: 1.5em;

    }
}
.left {
    grid-area: left;
    background-color: $Cyan;

    div{
        padding: 40px;
    }
    h2 {
        color: white;
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 30px;
        color: white;
        opacity: 0.9;
    }
    .price {
        font-size: 2em;
        display: flex;
        align-items: center;
        opacity: 1;
        margin-bottom: 10px;
        span {
            font-size: 15px;
            opacity: 0.7;
            margin-left: 10px;
        }
    }
    button {
        all: unset;
        text-align: center;
        width: 240px;
        height: 50px;
        background-color: $BrightYellow;
        border-radius: 5px;
        box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.233);
        cursor: pointer;
        border: 1px solid transparent;
        transition: 0.5s ease-in-out;

        &:hover {
            background-color: #caf11d;
        }
    }
}
.right {
    grid-area: right;

    $Cyan: hsla(179, 62%, 43%, 0.739);
    background-color: $Cyan;

    div{
        padding: 40px;
    }
    h2 {
        color: white;
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    p {
        color: $LightGray;
        opacity: 0.9;
        line-height: 1.5em;

    }
}

@media (max-width: 600px) {
    body{
        height: unset;
    }
    main {
        grid-template-areas:
            "top"
            "left"
            "right";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 400px;
    }
    .top div, .right div, .left div{
        padding: 20px;
    }
}
