@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /*  Primary */
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

    /* Neutral */
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;

    background: url('../images/bg-pattern-bottom-desktop.svg') no-repeat bottom right, url('../images/bg-pattern-top-desktop.svg') no-repeat top left;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin: 0 20px;
}

.start h1 {
    color: var(--VeryDarkMagenta);
    font-size: 3em;
    width: 100%;
    max-width: 400px;
}

.start p {
    width: 100%;
    max-width: 450px;
    color: var(--DarkGrayishMagenta);
    margin-top: 15px;
    line-height: 1.5em;
}

.rated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    color: var(--VeryDarkMagenta);
    margin-left: 20px;
}

.rate-01, .rate-02, .rate-03 {
    padding: 15px 50px 15px 30px;
    background-color: var(--LightGrayishMagenta);
    border-radius: 10px;
}

.rate-01 {
    align-self: flex-start;
}

.rate-02 {
    align-self: center;
    margin: 15px 0;
}

.rate-03 {
    align-self: flex-end;
}

.stars {
    width: 85px;
    height: 16px;
    margin-right: 20px;
    display: inline-block;
    background: url('../images/icon-star.svg');
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.card-01, .card-02, .card-03 {
    background-color: var(--VeryDarkMagenta);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 0 10px;
}

.card-01 p, .card-02 p, .card-03 p {
    color: var(--LightGrayishMagenta);
    margin-top: 20px;
    line-height: 1.5em;
}

.card-01 {
    align-self: flex-start;
}

.card-02 {
    align-self: center;
}

.card-03 {
    align-self: flex-end;
}

.buyer {
    display: flex;
}

.buyer img {
    border-radius: 50%;
    width: 50px;
}

.author {
    margin-left: 20px;

}

.author h2 {
    font-size: 1.1em;
    color: var(--LightGrayishMagenta);
}

.author h3 {
    font-size: 1em;
    font-weight: normal;
    color: var(--SoftPink);
    opacity: 0.8;
}

@media (max-width: 940px) {
    .rate-01, .rate-02, .rate-03 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px 10px;
    }
    .stars{
        margin: 0;
    }
}

@media (max-width: 790px) {
    body {
        height: 100%;
    }

    .rated {
        margin: 20px 0;
    }
    
    .rate-01, .rate-02, .rate-03 {
        align-self: center;
        width: 100%;
        max-width: 80%;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-self: center;
        height: 500px;
        margin-top: 50px;
        text-align: center;
    }

    .container h1 {
        margin: 0;
    }

    .container-card {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        gap: 20px;
        margin: 40px 20px;
    }

    .card-01, .card-02, .card-03 {
        align-self: center;
        margin: 0 20px;
    }
}

@media (max-width: 400px) {
    .container {
        height: 610px;
    }
}
@media (max-width: 340px){
    .container{
        height: 710px;
    }
}