@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* General Settings */
:root {
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desnaturedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Manrope;
    font-size: 13px;
    background-color: var(--lightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: white;
}

/* main */
main {
    display: flex;
    max-width: 1050px;
    background-color: white;
    border-radius: 20px;
    margin: 0 20px;
}

/* Left side */

#left>img {
    width: 500px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

/* Right side */

#right h1 {
    max-width: 450px;
    margin: 50px 50px 20px 50px;
    color: var(--veryDarkGrayishBlue);
}

#right p:nth-child(2) {
    max-width: 400px;
    margin: 0 50px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    color: var(--desnaturedDarkBlue);
}

#social {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;
}

#author {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    width: 245px;


}

#author>img {
    border-radius: 50%;
    width: 50px;
    margin-right: 15px;
}

#author h2 {
    color: var(--veryDarkGrayishBlue);
}

#author h3 {
    color: var(--GrayishBlue);
    font-weight: normal;
}

.share {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.light-blue {
    background-color: var(--lightGrayishBlue);
}

.dark-blue {
    background-color: var(--veryDarkGrayishBlue);
}

.dark-blue img {
    filter: brightness(0%) invert(100%);
}

.share button {
    cursor: pointer;
    background: none;
    border: none;
}

.share img {
    width: 20px;
}

/* networks */
.container {
    position: absolute;
    right: -130px;
    top: -75px;

    width: 300px;

    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.networks {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--veryDarkGrayishBlue);
    padding: 10px 40px;
    border-radius: 10px;
    gap: 15px;
}

.networks p {
    letter-spacing: 0.3em;
    color: var(--GrayishBlue);
}

.triangle {
    width: 0;
    height: 0;
    border-top: 15px solid var(--veryDarkGrayishBlue);
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.invisible {
    display: none;
}

@media screen and (max-width: 1215px) {
    .container {
        right: 0;
        align-items: flex-end;

    }

    .networks {
        border-radius: 10px 10px 0px 10px;
    }

    .triangle {
        border-top: 15px solid var(--veryDarkGrayishBlue);
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

}

@media screen and (max-width: 950px) {

    /* main */
    main {
        flex-direction: column;
        max-width: 400px;

    }

    /* left */
    #left img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    #right h1 {
        font-size: 1.5em;
        margin: 40px 20px 20px 20px;
    }

    #right p:nth-child(2) {
        margin: 20px;
        text-align: justify;
    }

    /* social */
    #social {
        justify-content: center;
        gap: 50px;
        width: 100%;
        margin: 0;
        padding: 10px 20px 10px 20px;
        border-radius: 0 0 20px 20px;
    }

    .container {
        right: unset;
        top: unset;
        left: 0;
    }

    .GrayishBlue {
        background-color: var(--GrayishBlue);
    }

    .triangle {
        border: none;
    }
}

@media screen and (max-width: 350px) {
    main {
        max-width: 320px;
    }

    h2 {
        font-size: 1.2em;
    }

    #right h1 {
        font-size: 1.5em;
        margin: 20px;
    }

    #right p:nth-child(2) {
        max-width: 300px;
        margin: 10px 20px;
        text-align: justify;
    }

    .container {
        left: 11px;
        padding: 0;
        justify-content: flex-start;
        width: 215px;
    }

    .networks {
        width: 215px;
    }

}